body {
  background-image: url("http://img14.deviantart.net/59c4/i/2011/097/e/b/dark_mountains_by_critical_error-d3denuz.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header li {
  display: inline;
  padding-left: 9%;
}

.header a {
  color: white;
}

.container h1 {
  color: #FF99CC;
  padding-left: 1%;
}

.submit-btn {
  padding-top: 2px;
}
